{% load static %}
<!DOCTYPE HTML>
<html>
<head>
<title>Makemy Love</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="{% static 'css/bootstrap-3.1.1.min.css' %}" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js'%}"></script>
<!-- Custom Theme files -->
<link href="{% static 'css/style.css'%}" rel='stylesheet' type='text/css' />
<!-- <link href='//fonts.googleapis.com/css?family=Oswald:300,400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'> -->
<!--font-Awesome-->
<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet"> 
<!--font-Awesome-->
<script>
$(document).ready(function(){
    $(".dropdown").hover(            
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
            $(this).toggleClass('open');        
        },
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
            $(this).toggleClass('open');       
        }
    );
});
</script>
</head>
<body>
<!-- ============================  Navigation Start =========================== -->
<div class="navbar navbar-inverse-blue navbar">
    <!--<div class="navbar navbar-inverse-blue navbar-fixed-top">-->
      <div class="navbar-inner navbar-inner_1">
        <div class="container">
           <div class="navigation">
             <nav id="colorNav">
               <ul>
                <li class="green">
                  <a href="#" class="icon-home"></a>
                  <ul>
                  
                      <li><a href="/">Home</a></li>
                      {% if request.user.is_active %}
                          
                          <li><a href="{% url 'user-logout' %}">Logout</a></li>
                          {% endif %}
                  
                  
                      <li><a href="{% url 'user-login' %}">Login</a></li>
                      <li><a href="{% url 'user-register' %}">Register</a></li>
                

                  
                    
                  </ul>
                </li>
               </ul>
             </nav>
           </div>
           <a class="brand" href="/"><img src="{% static 'images/logo.png'%}" alt="logo"></a>
           <div class="pull-right">
              <nav class="navbar nav_bottom" role="navigation">
 
         <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header nav_2">
              <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">Menu
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"></a>
           </div> 
           <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                <ul class="nav navbar-nav nav_1">
                    <li><a href="/">Home</a></li>
                    
                    
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Search<span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="search.php">Regular Search</a></li>
                        <li><a href="search-id.php">Search By Profile ID</a></li>
                        <li><a href="faq.php">Faq</a></li>
                        
                      </ul>
                    </li>
                    
                </ul>
             </div><!-- /.navbar-collapse -->
            </nav>
           </div> <!-- end pull-right -->
          <div class="clearfix"> </div>
        </div> <!-- end container -->
      </div> <!-- end navbar-inner -->
    </div> <!-- end navbar-inverse-blue -->
<!-- ============================  Navigation End ============================ -->
<div class="grid_3">
  <div class="container">
    {% for user in users %}
        <div class="singleuser" style="height: 450px;width: 15rem;padding: 5px;float: left;overflow: hidden;">
            <div class="singleuserpic" style="height: 60%;width: 100%;"><img src="{{user.image_field.url}}" /></div>
            <div class="singleuserdetail" style="height: 25%; width: 100%;align-items: center;">
                <p>Name: {{ user.firstname }} {{user.lastname}}</p>
                <p>Job: {{ user.occupation }}</p>
                <p>Salary: {{ user.income }}</p>
            </div>
            <a href="{% url 'view-profile-id' user.id %}" id="edit-submit" name="op" style="height: 15%; width: 100%;" class="btn_1 submit">Details</a>
        </div>
        
    {% endfor %}
    <center>
        <ul>
          {% for page in users.paginator.page_range %}
              
              
                <button ><li><a href="?page1={{ page }}">{{ page }}</a></li></button>
              
          {% endfor %}
          
          
        </ul>
      </center>
    
   
  </div>
</div>


